<!DOCTYPE html>
<html>
  <head>
    <title>Form Data</title>
  </head>
  <body>
    <form method="post">
      <form class="sign_up">
        <label for="name"> Name:</label><br />
        <input class="inputs" type="text" id="name" name="name" /><br />
        <label for="age">Age:</label><br />
        <input class="inputs" type="text" id="age" name="age" />
        <p>Amount of water consumed daily:</p>
        <input
          class="yn"
          type="radio"
          id="drinktrue"
          name="ifdrink"
          value="yes"
        />
        <label for="drinktrue">Large amounts</label><br />
        <input
          class="yn"
          type="radio"
          id="drinkfalse"
          name="ifdrink"
          value="no"
        />
        <label for="drinkfalse">Small amounts</label><br />
        <p>Amount of exercise daily:</p>
        <input
          class="yn"
          type="radio"
          id="exercisetrue"
          name="ifexercise"
          value="yes"
        />
        <label for="exercisetrue">Large amounts</label><br />
        <input
          class="yn"
          type="radio"
          id="exercisefalse"
          name="ifexercise"
          value="no"
        />
        <label for="exercisefalse">Small amounts</label><br />
        <p>My diet would be considered:</p>
        <input
          class="yn"
          type="radio"
          id="healthydiet"
          name="diet"
          value="healthy"
        />
        <label for="diet">Healthy diet</label><br />
        <input
          class="yn"
          type="radio"
          id="moderatediet"
          name="diet"
          value="poor"
        />
        <label for="diet">Poor diet</label><br />
        <br />
        <label for="weight"> My weight (lbs):</label><br />
        <input class="inputs" type="text" id="weight" name="weight" /><br />
        <br />
      </form>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
